# Visual Studio
.vscode/
*.code-workspace
.vs/
*.vcxproj.user
*.vcxproj.filters
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.ipch
*.iobj
*.idb
*.pdb
*.tlog/
*.obj
*.o
*.tlog/
*.lastbuildstate
*.exe
*.ilk
*.log
*.lib
*.ncb
*.scc
*.sbr
*.sln.docstates
*.aps
*.pch
*.res
*.rsp
*.tlb
*.tlh
*.tmp
*.csproj.user
*.csproj.filters

# External libraries
external/
